.presentation {
width:1000px;
height:600px;
background-color:#d9d2e9;
border:2px solid black;
}

.description{
	padding: 20px;
	font-family: "Arial-MT" "sarif";
	font-size:25px;
}
.pageheader{
display:flex;
}
.logo {
	position:relative;
	margin:0px -40px;

}

.main-menu {
padding:0;
margin-top: -1px;
margin-left: -2px;
list-style: none;
padding: 0 0;
width: 180px;
display: flex;
justify-content: flex-end;
flex-direction:column;
background-color:#cfe2f3;
}

/*не хочет растягиватся вниз © 2015*/
.main-menu li::last-child{
	height:100%;
}


.main-menu a {
background-color:#cfe2f3;
border: 2px solid black;
display: block;
padding: 8px 14px;
margin-bottom:-2px;
text-decoration:none;
font-family: "ArialMT" "sarif";
font-size: 18px;

}
.main-menu a:hover {
background-color:#f5f5f5;
}
